body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
}
.details-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}
a, button {
    color: #0066cc;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

a:hover, button:hover {
    color: #004999;
}
i {
    margin-right: 5px;
}

/* Bouton d'impression */
#printButton {
    padding: 8px 12px;
    border: 1px solid #0066cc;
    border-radius: 4px;
    background-color: #0066cc;
    color: white;
}

#printButton:hover {
    background-color: #004999;
}