.profile-card {
    margin-top: 20px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.profile-details {
    padding: 20px;
}
.profile-heading {
    font-size: 28px;
    margin-bottom: 20px;
}
.profile-label {
    font-weight: bold;
}